fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
groq
PyPDF2
streamlit
streamlit-audiorecorder
requests
python-dotenv
pandas
plotly
pydantic[email]
alembic
